
<h3>Submit Your Encrypted Ballot</h3>

<p>
All information, other than your encrypted ballot,<br />
has been removed from memory.
</p>

<p>
As a reminder, your ballot tracking number is:<br />
<b><tt style="font-size: 16pt;">{$T.encrypted_vote_hash}</tt></b>
</p>

<p>
According to the election definition file, this ballot will be submitted to:
</p>

<p><b><tt style="font-size:1.3em;">{$T.cast_url}</tt></b></p>

<p>
    where you will log in to validate your eligibility to vote.
</p>

<form method="POST" onsubmit="BOOTH.do_done();" action="{$T.cast_url}" id="send_ballot_form" class="prettyform">
<input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
<input type="hidden" name="election_hash" value="{$T.election_hash}" />
<textarea name="encrypted_vote" style="display: none;">
{$T.encrypted_vote_json}
</textarea>
<div id="submit_button">
  <label for="submit">&nbsp;</label>
  <input type="submit" value="Submit Ballot" class="pretty" />
</div>
</form>

