{% extends 'server_ui/templates/base.html' %}
{% block title %}Confirm Vote{% endblock %}

{% block content %}
<h1>Your Vote was Cast</h1>

<p>
    A vote was successfully cast for <b>{{voter.voter_id}}</b>, with vote fingerprint:
    <br /><br />
    <tt style="font-size: 2em;">{{voter.vote_hash}}</tt>
</p>

<p>
    Visit the <a href="{% url helios.views.one_election_view election.uuid %}">election homepage</a>.
</p>

{% endblock %}
