<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}Authentication{% endblock %} - Helios</title>
    {% block css %}
      <!--
          <link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
      -->
      <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css">

    {% endblock %}

    {% block js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="content">
        <div id="header">
        {% block header %}
        {% endblock %}
        </div>
      {% block content %}{% endblock %}
      <div id="footer">
      </div>
    </div>
    
  </body>
</html>
