Please provide the voter ID and password you received by email.<br /><br />
<form method="post" action="{% url helios.views.password_voter_login election.uuid %}" onsubmit="show_waiting()">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />
<table>
    {{password_login_form.as_table}}
</table>
{% if bad_voter_login %}
<p style="color: red;">
bad voter ID or password, please try again.
</p>
{% endif %}
{% if cast_ballot == "1" %}
<p class="small">
You may cast as many ballots as you wish:<br />only the last one counts.
</p>
<input type="submit" class="button" value="cast ballot" />
{% else %}
<input type="submit" class="button" value="log in" />
{% endif %}
</form>

