{% extends TEMPLATE_BASE %}

{% block title %}{{cast_vote.vote_tinyhash}} &mdash; {{election.name}}{% endblock %}
{% block content %}
<h2 class="title">Cast Vote {{cast_vote.vote_tinyhash}}</h2>
cast in <a href="{% url helios.views.one_election_view election.uuid %}">{{election.name}}</a><br />
Fingerprint: <tt>{{cast_vote.vote_hash}}</tt><br />
by <b><u>
{% if the_voter.alias %}
{{the_voter.alias}}
{% else %}
{{the_voter.name}}
{% endif %}
</u></b>
<br /><br />
<a href="#" onclick="$('#castvote_content').slideToggle(250); return false;">details</a><br /><br />
<div style="display:none;" id="castvote_content">
<textarea cols="100" rows="10">
{{vote_content}}
</textarea>
</div>
<br /><br />




{% endblock %}
