{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">Elections where you voted <span style="font-size:0.7em;">[<a href="/">back to home</a>]</span></h2>

<ul>
{% for election in elections %}
<li> <a href="{% url helios.views.one_election_view election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% endblock %}
