{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Freeze Ballot</h2>
<p>
Once the ballot is frozen, the questions and options can no longer be modified.<br />
The list of trustees and their public keys will also be frozen.
</p>

<p>
{% if election.openreg %}
Registration for your election is currently <b>open</b>, which means anyone can vote, even after you freeze the ballot.
{% else %}
Registration for your election is currently <b>closed</b>, which means only the voters you designate will be able to cast a ballot. As the administrator, you will still be able to modify that voter list as the election progresses.
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
You must freeze the ballot before you can contact voters.
</p>
{% endif %}

{% if issues_p %}
<p>
    Before you can freeze the election, you will need to:
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url helios.views.one_election_view election.uuid %}">go back to the election</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="button" type="submit" value="Freeze the ballot" />
<button onclick="document.location='./view'; return false;">never mind</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
