{% extends TEMPLATE_BASE %}

{% block title %}Log In to View Election{% endblock %}
{% block content %}
<h2>Private Election - Please Log In</h2>

<p>
This election, with fingerprint <tt>{{election.hash}}</tt>, is private, and can only be viewed by eligible voters.
</p>

{% with cast_ballot="0" %}
{% include "_castconfirm_password.html" %}
{% endwith %}

{% endblock %}
