{% extends TEMPLATE_BASE %}
{% block title %}Statistics{% endblock %}

{% block content %}
<h1>Problematic Elections</h1>

Unfrozen for more than a day.

{% for election in elections %}
<p>
<b><a href="{% url helios.views.one_election_view election.uuid %}">{{election.name}}</a></b> -- {{election.num_voters}} voters
</p>
{% endfor %}

{% endblock %}
