{% extends TEMPLATE_BASE %}

{% block title %}Voter Eligibility for {{election.name}}{% endblock %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; Voter Eligibility <span style="font-size:0.7em;">[<a href="{% url helios.views.voters_list_pretty election.uuid %}">back to voters</a>]</span></h2>

<p>
<em>{{election.pretty_eligibility|safe}}</em>
</p>

<p>
You may limit eligibility of voters to one of these categories, as defined by {{user.user_type}}:
</p>

<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<select name="category_id">
<option value="" SELECTED>(no constraint)</option>
{% for category in categories %}
<option value="{{category.id}}"> {{category.name}}</option>
{% endfor %}
</select>
<input type="submit" value="set eligibility" />
</form>
</ul>
{% endblock %}
